@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Inter-Regular.woff2?v=3.19') format('woff2'),
    url('../fonts/Inter-Regular.woff?v=3.19') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

body,
input,
button {
    font-family: 'Inter', sans-serif;
    outline: none;
}

form a {
    text-decoration: none;
    color: dodgerblue;
}

p {
    padding-bottom: 10px;
}

fieldset {
    border: 0;
}

fieldset div {
    padding-top: 10px;
}

fieldset label {
    margin-left: 3px;
}

.center {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.white-back-text {
    font-weight: 800;
    padding: 2px 10px;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    background-color: #fff;
}

a.white-back-text {
    cursor: pointer;
    color: dodgerblue;
}

.center-text {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.green-text,
.success {
    color: rgb(5, 211, 5);
}

.red-text,
.error-message {
    color: tomato;
}

label.warning-message {
    font-size: 11px;
    display: block;
    color: tomato;
}

#prompt-message {
    position: absolute;
    right: 0;
    bottom: 160px;
    left: 0;
    padding: 0 50px;
}

#message {
    font-size: 15px;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

/*======================= Header ======================*/

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 60px;
    padding: 25px 7vw;
    background-color: rgb(41, 40, 40);
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.logo {
    margin-right: auto;
    filter: drop-shadow(0px 3px 3px black);
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;

    list-style: none;
    justify-items: center;
}

.nav-links a {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links li a,
#project-details a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: dodgerblue;
}

.username a {
    font-weight: 800;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    background-color: #fff;
}

/*======================= Footer ======================*/

footer {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 30px 10%;
    color: #fff;
    background-color: rgb(41, 40, 40);
}

.footer a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: dodgerblue;
}

.footer p {
    padding: 0;
}

/*======================= Welcome Page ======================*/

.welcome-logo {
    position: relative;
    width: 40%;
    height: 40%;
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    width: 700px;
    transform: translate(-50%, -50%);
    text-align: center;
    filter: drop-shadow(0px 3px 3px black);
}

.welcome-message {
    margin: 0 50px;
    color: white;
}

.welcome-title {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}

.welcome .button:hover,
.database-error .button:hover {
    background-color: #389afd;
}

.welcome .button:active,
.database-error .button:active {
    background-color: #389afd;
}

/*===================== Button ====================*/

.button {
    font-size: 15px;
    margin: 10px;
    padding: 10px 40px;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: black;
    border: 0;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(68, 67, 67, 0.87) 0 2px 8px 0;
}

.button:hover {
    letter-spacing: 3px;
    color: hsl(0, 0%, 100%);
    background-color: rgb(0, 178, 104);
    box-shadow: rgba(0, 0, 0, 0.801) 0 7px 29px 0;
}

.button:active {
    transition: 100ms;
    transform: translateY(10px);
    letter-spacing: 3px;
    color: hsl(0, 0%, 100%);
    background-color: rgb(0, 178, 104);
    box-shadow: black 0 0 0 0;
}

.bottom {
    margin: 80px 0 0 0;
}

.bottom-text {
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

/*===================== Form ====================*/

.form-container {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 450px;
    min-width: 420px;
    min-height: 400px;
    margin: 0 auto 140px auto;
    padding: 50px;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(41, 40, 40, 0.74);
    box-shadow: rgba(0, 0, 0, 0.9) 0 5px 15px;
}

.form-label {
    margin-left: 3px;
}

.form-container #login-form {
    min-height: 400px;
}

.form-container #register-form {
    min-height: 700px;
}

.form-input-box {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.4) 0 2px 8px 0;
}

.show-password {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 0;
    margin-top: 3px;
    padding-right: 60px;
    cursor: pointer;
    color: #292828;
}

/*======================= Home ======================*/

.food-container {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    min-width: 420px;
    max-width: 1000px;
    /*height: 100%;*/
    margin: 0 auto 140px auto;
    padding: 50px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(41, 40, 40, 0.74);
    box-shadow: rgba(0, 0, 0, 0.9) 0 5px 15px;
}

.food-container h1 {
    padding-bottom: 5px;
    filter: drop-shadow(5px 3px 5px black);
    -webkit-filter: drop-shadow(5px 3px 5px black);
}

.category-title {
    padding: 15px 0;
}

#category-title label {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 4px 10px;
    cursor: pointer;
    text-decoration: none;
    color: dodgerblue;
}

.food-box {
    width: 370px;
    height: 100%;
    margin: auto 10px;
    padding: 35px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.9) 0 5px 15px;
}

.food-container .button {
    display: inline-block;
    padding: 8px 25px;
}

.food-box h2 {
    padding-bottom: 10px;
}

.food-price {
    font-size: 20px;
    font-weight: bold;
}

.food-container td {
    display: inline-block;
    padding: 20px;
}

/*=============== Login and Registration ==============*/

.login-form-title {
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 40px;
    text-align: center;
    filter: drop-shadow(5px 3px 5px black);
    -webkit-filter: drop-shadow(5px 3px 5px black);
}

.remember-me {
    margin: 5px;
    text-align: center;
}

.remember-me input,
.remember-me label {
    cursor: pointer;
}

.radio-button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    margin-top: 5px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.4) 0 2px 8px 0;
}

.radio-button input {
    margin: 1px 2px 0 0;
}

.radio-button.form-input-error {
    box-shadow: tomato 0 0 5px 2px;
}

input[type='text'].form-input-error,
input[type='password'].form-input-error {
    box-shadow: tomato 0 0 5px 2px;
}

input[type='radio'].form-input-error {
    filter: drop-shadow(1px 1px 2px tomato);
}

/*================= Profile Form ================*/

.form-user-profile {
    font-size: 20px;
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 460px;
    min-width: 400px;
    height: 100%;
    margin: 0 auto 140px auto;
    padding: 50px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(41, 40, 40, 0.74);
    box-shadow: rgba(0, 0, 0, 0.9) 0 5px 15px;
}

.form-user-profile h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 900;
    margin: 0;
    padding-bottom: 30px;
    text-align: center;
}

.form-user-profile td:nth-child(1) {
    padding-right: 10px;
    text-align: right;
}

.form-user-profile td:nth-child(2) {
    text-align: left;
}

.form-user-profile td input {
    font-size: 15px;
    width: 100%;
    height: 25px;
    padding: 2px 5px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.4) 0 2px 8px 0;
}

.form-user-profile td {
    padding-bottom: 5px;
}

.form-user-profile table {
    margin-bottom: 20px;
}


.radio-label {
    padding-right: 20px;
    color: black;
}

.search-input-box {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    width: 75%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

/*======================= Payment ======================*/

.payment-form-title {

    font-size: 32px;
    font-weight: 900;
    padding: 10px 0;
    text-align: center;
    filter: drop-shadow(5px 3px 5px black);
    -webkit-filter: drop-shadow(5px 3px 5px black);
}

.payment-description {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.payment-price {
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
}

.payment-title {
    font-size: 30px;
    padding: 40px 15px 15px 15px;
    text-align: center;
}

.payment-table {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    color: white;
}

.payment-table td {
    font-size: 20px;
    padding: 0 5px;
}

.payment-table input {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.4) 0 2px 8px 0;
}

.currency-text {
    font-size: 20px;
    padding: 10px 0;
}

.currency-text a {
    cursor: pointer;
}

/*======================= Comment ======================*/

.comment-container {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    min-width: 420px;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto 140px auto;
    padding: 50px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(41, 40, 40, 0.74);
    box-shadow: rgba(0, 0, 0, 0.9) 0 5px 15px;
}

#comment {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    width: 95%;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
}

#comment.form-input-error {
    box-shadow: tomato 0 0 5px 2px;
}

#comment-error {
    display: block;
}

.comments-div {
    display: block;
    margin: 20px 0;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    background-color: rgb(41, 40, 40);
}

#posted-comment {
    padding: 3px 0 0 5px;
}

.comment-container #description {
    margin: 15px 0;
}

.comment-box {
    width: 100%;
    height: 100%;
    padding: 50px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.9) 0 5px 15px;
}

.author-name {
    font-weight: 800;
    padding: 2px 10px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #fff;
}

.reply {
    float: right;
    cursor: pointer;
}

.replying-to {
    justify-content: center;
    margin: 25px 10% -30px 10%;
    padding: 5px 20px 20px 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #002e5e;
}

/*================ Project Details Page ===============*/

#project-details.form-container {
    width: 600px;
    min-width: 500px;
    padding-bottom: 175px;
}

.features {
    margin: 100px;
    padding: 30px;
}

.project-details-img {
    padding-bottom: 10px;
}

.project-details {
    text-align: justify;
}

.project-link {
    font-weight: bold;
    flex-direction: column;
    padding-bottom: 10px;
    text-align: center;
}

.raofin {
    position: absolute;
    top: 86%;
    left: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 380px;
    padding: 10px 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.9) 0 5px 15px;
}

.raofin img {
    height: 80px;
    padding-right: 10px;
    border-radius: 50%;
    filter: drop-shadow(0px 0 5px #a18c6d);
}

.raofin p {
    padding: 5px;
}

#project-details a {
    cursor: pointer;
    text-decoration: none;
    color: #1d8af5;
}

#project-details a:hover {
    color: #a18c6d;
}

/*======================= Error Page ======================*/

#database-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

#database-error h1 {
    padding: 15px;
}

/*======================= Admin ======================*/

.admin-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto 140px auto;
    padding: 50px;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    /*background-color: rgba(41, 40, 40, 0.50);*/
    /*box-shadow: rgba(0, 0, 0, 0.9) 0 5px 15px;*/
    /*filter: drop-shadow(0px 3px 3px black);*/
}

.admin-items {
    display: flex;
    align-items: center;
    width: 500px;
}

.admin-title {
    font-size: 40px;
    font-weight: 900;
    width: 300px;
    margin: 0 auto ;
    padding: 10px;
    color: white;
    border-radius: 12px;
    /*padding-bottom: 5px;*/
    filter: drop-shadow(5px 3px 5px black);
    -webkit-filter: drop-shadow(5px 3px 5px black);
}

.username a {
    font-weight: 800;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    background-color: #fff;
}

.admin-logo {
    position: relative;
    width: 200px;
    margin-right: 30px;
}

.admin-form-title {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    filter: drop-shadow(5px 3px 5px black);
    -webkit-filter: drop-shadow(5px 3px 5px black);
}

.username a {
    font-weight: 800;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    background-color: #fff;
}

.admin-logo {
    position: relative;
    width: 250px;
    margin-right: 30px;
}

.admin-form-title {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    filter: drop-shadow(5px 3px 5px black);
    -webkit-filter: drop-shadow(5px 3px 5px black);
}

.username a {
    font-weight: 800;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    background-color: #fff;
}

.admin-form-bottom {
    margin-top: 30px;
}

.admin-buttons {
    text-align: left;
}

.admin-buttons button {
    font-size: 15px;
    margin: 10px 0 10px 10px;
    padding: 10px 40px;
    cursor: pointer;
    transition: all 0.5s ease;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border: 0;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(68, 67, 67, 0.87) 0 2px 8px 0;
}

.admin-buttons button:hover {
    letter-spacing: 3px;
    color: hsl(0, 0%, 100%);
    background-color: #1d8af5;
    box-shadow: rgba(0, 0, 0, 0.801) 0 7px 29px 0;
}

.admin-buttons button:active {
    transition: 100ms;
    transform: translateY(10px);
    letter-spacing: 3px;
    color: hsl(0, 0%, 100%);
    background-color: #1d8af5;
    box-shadow: black 0 0 0 0;
}

.add-user-form {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 450px;
    min-width: 420px;
    min-height: 400px;
    margin: 0 auto 140px auto;
    padding: 50px;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(41, 40, 40, 0.74);
    box-shadow: rgba(0, 0, 0, 0.9) 0 5px 15px;
}

.food-description {
    font-family: 'Inter', sans-serif;
    width: 100%;
    margin: 5px 0 0 0;
    padding: 10px;
    border-radius: 5px;
}

.manage-user-container {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    min-width: 420px;
    max-width: 1000px;
    margin: 0 auto 140px auto;
    padding: 50px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(41, 40, 40, 0.74);
    box-shadow: rgba(0, 0, 0, 0.9) 0 5px 15px;
}

.manage-user-container table,
.manage-user-container th,
.manage-user-container td {
    padding: 5px 0;
    border-collapse: collapse;


    text-align: center;
    color: #fff;
}

.table-wrapper {
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 6px;
    background: black;
    box-shadow: rgb(0 0 0 / 90%) 0 0 5px;
}

.table-wrapper a {
    cursor: pointer;
}

.manage-user-container table {
    overflow: hidden;
    width: 100%;
    border-radius: 3px;
    background: rgb(41, 40, 40);
}

.manage-user-container th {
    background: rgb(0, 0, 0);
}

.manage-user-container tr:nth-child(odd) {
    background: rgb(26, 25, 25);
}

/*.manage-user-container a:first-child {
    padding-right: 20px;
}*/

.manage-user-container button {
    margin-bottom: 0;
}

.food-box p, .food-box h2 {
    color: white;
    text-align: center;
}

.food-container-buttons {
    text-align: center;
}

table#foods-table {
    text-align: center;
}

table.profile-table {
    color: white;
    font-size: 20px;
}

input#confirm-button {
    color: red;
    font-weight: bold;
}

